* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 770px) {
    .container {
        width: 100%;
    }
}

.title {
    position: relative;
    margin: 30px 0;
    width: 100%;
    animation: fadeIn .07s ease .8s 5 alternate forwards;
}

.title h1 {
    position: relative;
    font-size: 40px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 20px;
    color: #777;
    border-left: 30px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    letter-spacing: 4px;
}

.title h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #555;
    animation: slide-right .4s ease 1.1s reverse forwards;
}

.title_line {
    position: relative;
    width: 100%;
    font-size: 10px;
    height: 10px;
    text-align: right;
    color: #fff;
    margin-top: 3px;
    padding-right: 8px;
    background-color: rgba(0, 0, 0, .1);
    box-sizing: border-box;
    overflow: hidden;
}

.title_line::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    animation: slide-left .4s ease 1.2s reverse forwards;
}

footer {
    height: 50px;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.loading_wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}
.loading_illustWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 290px);
    transform: translate(-50%, -50%);
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
    animation: 1s cubic-bezier(0, 0.49, 0.21, 1.03) 0s 1 normal forwards running open, 0.8s cubic-bezier(0.61, 0.01, 1, 0.83) 1s 1 normal forwards running close;
}
.loading_illust{
    display: block;
    position: relative;
    width: 100%;
}
.stage {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stage-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #fff;
}

.page_loading {
    display: flex;
}

.page_loading div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 10px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 12px;
    box-shadow: 0px 0px 4px #ccc;
    font-size: 40px;
    opacity: 0;
    overflow: hidden;
}

.page_loading div::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: center;
}

.page_loading div:nth-child(odd) {
    transform: translateY(24px);
    margin-top: 30px;
    animation: boxIn 0.6s ease forwards;
}

.page_loading div:nth-child(even) {
    transform: translateY(-24px);
    animation: boxIn 0.6s ease forwards;
}

.page_loading div:nth-child(1)::before {
    background-color: #71c2f4;
    animation: scaleIn .4s ease .6s forwards;
}

.page_loading div:nth-child(2)::before {
    background-color: #f47178;
    animation: scaleIn .4s ease .7s forwards;
}

.page_loading div:nth-child(3)::before {
    background-color: #f4da71;
    animation: scaleIn .4s ease .8s forwards;
}

.page_loading div:nth-child(4)::before {
    background-color: #9df471;
    animation: scaleIn .4s ease .9s forwards;
}

.page_loading div:nth-child(5)::before {
    background-color: #9df471;
    animation: scaleIn .4s ease 1s forwards;
}

.page_loading div:nth-child(6)::before {
    background-color: #f4da71;
    animation: scaleIn .4s ease 1.1s forwards;
}

.page_loading div:nth-child(7)::before {
    background-color: #f4da71;
    animation: scaleIn .4s ease 1.2s forwards;
}

.page_loading div span {
    position: relative;
    z-index: 2;
    color: #fff;
    transform: scale(0);
}

.page_loading div span:nth-child(1) {
    animation: wordIn 1s ease 0.8s forwards;
}

.page_loading div span:nth-child(2) {
    animation: wordIn 1s ease 0.9s forwards;
}

.page_loading div span:nth-child(3) {
    animation: wordIn 1s ease 1s forwards;
}

.page_loading div span:nth-child(4) {
    animation: wordIn 1s ease 1.1s forwards;
}

.page_loading div span:nth-child(5) {
    animation: wordIn 1s ease 1.2s forwards;
}

.page_loading div span:nth-child(6) {
    animation: wordIn 1s ease 1.3s forwards;
}

.page_loading div span:nth-child(7) {
    animation: wordIn 1s ease 1.4s forwards;
}

@keyframes boxIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes wordIn {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.page_loaded {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page_loaded div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.page_loaded div:first-child {
    background-color: #b4a2c9;
    transform: translateY(-100%) rotate(20deg);
    animation: fadeIn .3s ease .1s forwards, loaded-1 .6s ease .1s forwards;
}

.page_loaded div:nth-child(2) {
    background-color: #7a5988;
    transform: translateY(-100%) rotate(-20deg);
    animation: fadeIn .3s ease .3s forwards, loaded-2 .6s ease .3s forwards;
}

.page_loaded div:nth-child(3) {
    background-color: #322e38;
    transform: translateY(-100%) rotate(20deg);
    animation: fadeIn .3s ease .5s forwards, loaded-1 .6s ease .5s forwards;
}

@keyframes loaded-1 {
    0% {
        transform: translateY(-100%) rotate(20deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes loaded-2 {
    0% {
        transform: translateY(-100%) rotate(-20deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}
.page_effectWrapper{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page_effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page_effect div {
    position: absolute;
    top: calc(50% - 50vh);
    left: calc(50% - 50vh);
    width: 100vh;
    height: 100vh
}

.page_effect div::after,
.page_effect div::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
}

.page_effect div:nth-child(1) {
    animation: turn1 1s ease 2s forwards;
}

.page_effect div:nth-child(2) {
    animation: turn1 1s ease 2.1s forwards;
}

.page_effect div:nth-child(3) {
    animation: turn1 1s ease 2.2s forwards;
}

@keyframes turn1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

.page_effect div::before {
    background-color: #b58fbc
}

.page_effect div::after {
    background-color: #fff
}

.page_effect div:nth-child(1)::before {
    animation: scaleIn .6s ease 2s forwards;
}

.page_effect div:nth-child(1)::after {
    animation: scaleIn .6s ease 2.1s forwards;
}

.page_effect div:nth-child(2)::before {
    animation: scaleIn .6s ease 2.2s forwards;
}

.page_effect div:nth-child(2)::after {
    animation: scaleIn .6s ease 2.3s forwards;
}

.page_effect div:nth-child(3)::before {
    animation: scaleIn .6s ease 2.4s forwards;
}

.page_effect div:nth-child(3)::after {
    animation: scaleIn .6s ease 2.5s forwards;
}

@keyframes scaleIn {
    to {
        transform: scale(1);
    }
}

.motion-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}

.motion-4 div {
    position: absolute;
    top: calc(50% - 50vw);
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100vw;
}

.motion-4 div::after,
.motion-4 div::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 5px;
    transform: scale(0);
}

.motion-4 div::after {
    background-color: #fff;
}

.motion-4 div:nth-child(1):before {
    background-color: #5a9ed0;
}

.motion-4 div:nth-child(2):before {
    background-color: #dac3cd;
}
@keyframes open {
    0% {
        clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
    }

    100% {
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
    }
}
@keyframes close {
    0% {
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
    }
    100% {
        clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
    }
}
