.main_page{
    position: relative;
}
.page_bgWrapper{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 2s ease 3.2s forwards;
}
.page_bgWrapper::before,.page_bgWrapper::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page_bg{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/main-visual.png) 50% 0 no-repeat;
    background-size: cover;
    opacity: 0;
    transform: scale(1.2);
    animation: page_bg_show 1.4s ease 3s forwards;
}
.page_bgWrapper::before{
    background-color: rgba(255, 255, 255, 0.5);
}
.page_bgWrapper::after{
    z-index: 2;
    background-image: repeating-linear-gradient(90deg, hsla(196, 0%, 79%, 0.06) 0px, hsla(196, 0%, 79%, 0.06) 1px, transparent 1px, transparent 96px), repeating-linear-gradient(0deg, hsla(196, 0%, 79%, 0.06) 0px, hsla(196, 0%, 79%, 0.06) 1px, transparent 1px, transparent 96px), repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, transparent, transparent);
}

.page_content{
    opacity: 1;
    position: relative;
    z-index: 10;
    animation: fadeIn 1s ease 3.2s forwards;
    color: #4f4f4f;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
}

@keyframes page_bg_show{
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: .6;
    }
}
.avatar{
    margin: 10px 0;
    width: 120px;
    height: 120px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
a{
    color: #DDCDB6;
}
.author_name{
    padding: 4px;
    width: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-left: 20px solid #aaa;
}
.panel{
    position: relative;
    margin: 80px 0;
    width: 300px;
    height: 270px;
    padding: 15px;
    /* background-color: rgba(255,255,255,.6);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); */
    box-sizing: border-box;
    border: 4px solid #4f4f4f;
}
.panel::before,.panel::after,.panel div::before,.panel div::after{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #4f4f4f;
    border-radius: 50% 50% 0px;
}
.panel::before{
    top: -38px;
    left: -38px;
}
.panel::after{
    top: -38px;
    right: -38px;
    transform: rotate(90deg);
}
.panel div::before{
    bottom: -38px;
    left: -38px;
    transform: rotate(270deg);
}
.panel div::after{
    bottom: -38px;
    right: -38px;
    transform: rotate(180deg);
}
.item{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.label{
    position: relative;
    margin-right: 30px;
    width: 100px;
    text-align: justify;
    text-align-last: justify;
}

.content{
    padding: 5px 0;
    width: 200px;
    border-bottom: 1px solid #ccc;
}
.panel-title{
    text-align: center;
    font-size: 24px;
    color: #333;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}
.desc{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.sub_title{
    margin: 30px 0;
    padding: 0 10px;
    font-size: 24px;
    color: #333;
    letter-spacing: 2px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
    border-bottom: 10px solid #aaa;
}
.game_list{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #4f4f4f;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
}
.game_item{
    float: left;
    margin: 0 10px;
    width: calc(50% - 40px);
    height: 400px;
    margin-top: 10px;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #eee;
    border-top: 4px solid #6EAC9F;
    border-bottom: 4px solid #6EAC9F;
    word-wrap: break-word;
    box-sizing: border-box;
}
/* .links{
    display: flex;
    position: fixed;
    z-index: 10;
    bottom: 100px;
    right: 0;
}
.links::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.links div{
    margin: 0 30px;
    width: 30px;
    height: 30px;
    background-color: #DDCDB6;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
} */
.thumb{
    width: 100%;
}
@media screen and (max-width: 770px){
    .game_item{
        width: 100%;
        height: auto;
    }
}
.game_name{
    margin: 10px 0;
    color: #e63d90;
    font-size: 20px;
}
.game_desc{
    font-size: 14px;
}
.exp{
    width: 100%;
    line-height: 2;
}